*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    border: 2px solid red;
    padding: 20px 0;
    #buttons{
        border: 2px solid yellow;
        padding: 20px 0;
        button{
            margin-left: 20px;
            padding: 10px;
        }
    }
    #messages{
        border: 2px solid black;
        margin-top:5px;
        padding: 20px 0;
    }
    #result{
        border: 2px solid green;
        margin-top:5px;
        padding: 20px 0;
    }
}